name: Label Pull Requests

on:
  pull_request:
    types: [ opened, edited ]


jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: Renato66/auto-label@v2
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}
          ignore-comments: true
          labels-synonyms: '{"fix":["solves","fix","fixes"],"features":["introduces", "feature"],"documentation":["docs", "documentation"]}'
